.Header {
  text-align: center;
  background-color: goldenrod;
  color: black;
  font-family: Cursive;
}
.Searchbar {
  display: flex;
  outline: none;
  border-radius: 5px;
  text-align: center;
  padding: 8px,6px ,grey;
  border: solid 1px blue;
}
.Searchbar input {
  border: none;
  width: 99%; 
}
.transactions {
  align-items: center;
  border: solid 1px blue;
  justify-content: space-between;
}
table {
  text-align: center;
  width: 99%;
}